<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	</head>

	<body class="bg-dark text-light">

		<header>
			<nav class="navbar navbar-expand-lg bg-primary">
				<div class="container-sm">
					<a class="navbar-brand text-light fw-bold" href="http://localhost:8081">StarRise Framework</a>
				
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
				<h1>About:</h1>
				<h2>
					Description This structure is made for everyone. It is a user-friendly, lightweight and intuitive framework for all your projects, from the most advanced to the least complex. It comes with everything you need to get up and running right away: MVC framework, data validation and form handling, file system helpers, AJAX support, flexible caching and much more. It helps you build powerful applications with rich domain models and clean, maintainable code.</h2>


			</div>
		</main>

		<footer>
			<hr>
			<div>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							Rise Framework 2024 by Naelf
						</div>
					</div>
				</div>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
		</footer>


	</body>
</html>
